body {
  margin: 0;
  background: #f5f5f5;
}

/* зовнішній контейнер */
.container {
  width: 80%;
  margin: 0 auto;
  background: white;
}

/* header */
.header {
  width: 100%;
  height: 120px;
  background: #7DB1E6;
  text-align: center;
  line-height: 120px;
  font-weight: bold;
}

/* блок з контентом */
.content {
  width: 100%;
  overflow: hidden;
}

/* основний текст */
.main {
  width: 75%;
  height: 560px;
  float: left;
  background: #BFEA8C;
  text-align: center;
  line-height: 560px;
  font-weight: bold;
}

/* боковий блок */
.sidebar {
  width: 25%;
  height: 560px;
  float: right;
  background: #97B578;
  text-align: center;
  line-height: 560px;
  font-weight: bold;
}

/* footer */
.footer {
  width: 100%;
  height: 120px;
  background: #42F2C8;
  text-align: center;
  line-height: 120px;
  font-weight: bold;
}
